/node_modules
/public/hot
/public/storage
/public/admin_template
/public/web_template
/storage/*.key
/vendor
public/images/*
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/laradock
/docker/mysql
